<input
  type="text"
  class="todo-input"
  placeholder="What needs to be done"
  [(ngModel)]="todoTitle"
  (keyup.enter)="addTodo()"
/>
<todo-item
  *ngFor="let todo of todoService.todosFiltered()"
  [todo]="todo"
></todo-item>

<div class="infobox">
  <label for="checkall">check all</label>
  <input id="checkall" type="checkbox" (change)="todoService.checkAllTodos()" />
  {{ todoService.remaining() }} items left
</div>

<div>
  <button
    [ngClass]="{ active: todoService.filter === 'all' }"
    (click)="todoService.filter = 'all'"
    [ngStyle]="
      todoService.filter === 'all' ? { 'background-color': '#78e0e1' } : {}
    "
  >
    ALL
  </button>
  <button
    [ngClass]="{ active: todoService.filter === 'active' }"
    (click)="todoService.filter = 'active'"
    [ngStyle]="
      todoService.filter === 'active' ? { 'background-color': '#78e0e1' } : {}
    "
  >
    Active
  </button>
  <button
    [ngClass]="{ active: todoService.filter === 'completed' }"
    (click)="todoService.filter = 'completed'"
    [ngStyle]="
      todoService.filter === 'completed'
        ? { 'background-color': '#78e0e1' }
        : {}
    "
  >
    Completed
  </button>
</div>
