<h2 mat-dialog-title>{{ youtubeVideoInfo.snippet.title }}</h2>

<mat-dialog-content class="mat-typography">
  <div class="ratio ratio-16x9">
    <iframe
      class="embed-responsive-item"
      [src]="embedUrl | safe"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </div>
</mat-dialog-content>

<a [href]="this.embedUrl">{{ this.embedUrl | json }}</a>
<button class="dialog-close">Cancel</button>
