<button (click)="updateDatas()">更新資料</button>
<mat-card style="margin-top: 1rem">
  Currently selected: {{ selection | json }}
</mat-card>
<mat-radio-group [(ngModel)]="selectedTableRadio">
  <r-table [columns]="columns" [datas]="datas">
    <ng-template let-slot>
      <div *ngIf="slot.column.type === 'radio'; then radio"></div>
      <ng-template #radio>
        <mat-radio-button
          [value]="slot.data"
          [checked]="onRadioChecked(slot.data, slot.i)"
          (change)="onRadioChange($event, slot.data)"
        ></mat-radio-button>
      </ng-template>
    </ng-template>
  </r-table>
  <mat-radio-group> </mat-radio-group
></mat-radio-group>
