<style>
  table {
    width: 100%;
  }
  td,
  th {
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.12);
    padding: 10px !important;
  }
</style>
<!-- 動態寫法 -->
<div class="table-container mt-3">
    <table
      cdkDropList
      [cdkDropListData]="datas"
      (cdkDropListDropped)="drop($event)"
      mat-table
      [dataSource]="dataSource"
      class="w-100 border rounded-1"
    >
      <!-- mainHeader -->
      <tr mat-header-row *matHeaderRowDef="mainHeaderDef"></tr>
      <ng-container *ngFor="let head of columns">
        <ng-container [matColumnDef]="head.header">
          <th
            mat-header-cell
            *matHeaderCellDef
            [attr.rowspan]="head.rowspan"
            [attr.colspan]="head.colspan"
          >
            {{ head.headerLabel }}
          </th>
        </ng-container>
      </ng-container>

      <ng-container *ngFor="let head of columns">
        <div *ngIf="head.hasOwnProperty('columns'); else bb">
          <ng-container *ngFor="let sub of head.columns">
            <ng-container [matColumnDef]="sub.accessor">
              <th mat-header-cell *matHeaderCellDef>{{ sub.headerLabel }}</th>
              <td mat-cell *matCellDef="let data; let i = index">
                {{ data[sub.accessor] }}
              </td>
            </ng-container>
          </ng-container>
        </div>

        <ng-template #bb>
          <ng-container [matColumnDef]="head.accessor">
            <th mat-header-cell *matHeaderCellDef [ngStyle]="{ display: 'none' }">
              {{ head.accessor }}
            </th>

            <td mat-cell *matCellDef="let data; let i = index">
              <div *ngIf="head.type === 'dragdrop'; then dragdrop"></div>
              <div *ngIf="head.render !== undefined; then render"></div>
              <div *ngIf="head.render === undefined && head.type === undefined; then other"></div>

              <ng-template #dragdrop>
                <button mat-icon-button aria-label="改變序列" cdkDragHandle>
                  <mat-icon>menu</mat-icon>
                </button>
              </ng-template>

              <ng-template #other>
                {{ data[head.accessor] }}
              </ng-template>

              <!-- 方法一、使用 ngTemplateOutlet -->
              <ng-template #render>
                <ng-container
                  *ngTemplateOutlet="templateRef; context: getUserViewContext(head, data)"
                ></ng-container>
              </ng-template>
              <!-- 方法二、不能用 innerHtml。因為回傳 mat-button 會沒有樣式 -->
              <!-- <ng-template #render>
              <div [innerHTML]="getHtml(head.render(data))"></div>
              </ng-template> -->
            </td>
          </ng-container>
        </ng-template>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayColsDef"></tr>
      <tr
        mat-row
        cdkDrag
        [cdkDragData]="dataSource"
        *matRowDef="let row; columns: displayColsDef"
      ></tr>
    </table>
</div>

<mat-paginator [pageSizeOptions]="[5, 10, 50]" showFirstLastButtons></mat-paginator>
