<form [formGroup]="queryForm">
  <div class="px-3 d-flex">
    <span>找名人</span>
    <mat-form-field appearance="outline">
      <input
        type="text"
        placeholder=""
        matInput
        formControlName="inputCrm"
        [matAutocomplete]="auto"
        [style.border]="'0px solid red'"
      />
      <mat-autocomplete
        autoActiveFirstOption
        #auto="matAutocomplete"
        [displayWith]="displayFn"
      >
        <mat-option *ngFor="let option of optsCrm$ | async" [value]="option">
          {{ option.singer }}
        </mat-option>
      </mat-autocomplete>

      <mat-error>
        <span *ngIf="errorHandling('inputCrm', 'required')"> 請選擇</span>
      </mat-error>
    </mat-form-field>
  </div>
</form>
