<div class="container">
  <h4>需求</h4>
  <p>點查詢: 需要填寫 FirstName</p>
  <p>點Submit: 需要填寫 FirstName、lastName、age、rooms</p>

  <form [formGroup]="profileForm" class="example-form">
    <mat-form-field appearance="fill" class="example-full-width">
      <mat-label> First Name:</mat-label>
      <input matInput formControlName="firstName" />
      <mat-error>
        <span *ngIf="errorHandling('firstName', 'required')"> 未填 </span>
      </mat-error>
    </mat-form-field>
    <br />
    <mat-form-field appearance="fill" class="example-full-width">
      <mat-label> Last Name:</mat-label>
      <input matInput formControlName="lastName" />
      <mat-error>
        <span *ngIf="errorHandling('lastName', 'required')"> 未填 </span>
      </mat-error>
    </mat-form-field>
    <br />

    <mat-form-field appearance="fill" class="example-full-width">
      <mat-label>Age:</mat-label>
      <input matInput formControlName="age" type="number" />
      <mat-error>
        <span *ngIf="errorHandling('age', 'required')">
          Please provide a valid age
        </span>
      </mat-error>
    </mat-form-field>
    <br />

    <mat-form-field class="full-width">
      <mat-select placeholder="rooms" formControlName="room">
        <mat-option *ngFor="let room of rooms" [value]="room">
          {{ room.text }}
        </mat-option>
      </mat-select>
      <mat-error>
        <span *ngIf="errorHandling('room', 'required')"> 請選擇房間 </span>
      </mat-error>
    </mat-form-field>
    <br />

    <mat-form-field appearance="fill">
      <mat-label>Input disabled</mat-label>
      <input
        matInput
        [matDatepicker]="dp3"
        [disabled]="true"
        formControlName="date"
        [errorStateMatcher]="matcher"
      />
      <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
      <mat-datepicker #dp3 disabled="false"></mat-datepicker>
      <mat-error>
        <span *ngIf="errorHandling('date', 'required')"> 請選擇日期</span>
      </mat-error>
    </mat-form-field>
    <br />

    <div formGroupName="address">
      <h2>Address</h2>

      <mat-form-field appearance="fill" class="example-full-width">
        <mat-label>Street:</mat-label>
        <input matInput formControlName="street" type="number" />
        <mat-error>
          <span *ngIf="errorHandlingNested('street', 'required')">
            Please provide a valid street
          </span>
        </mat-error>
      </mat-form-field>
      <br />
      <mat-form-field appearance="fill" class="example-full-width">
        <mat-label>City:</mat-label>
        <input matInput formControlName="city" type="number" />
        <mat-error>
          <span *ngIf="errorHandlingNested('city', 'required')">
            Please provide a valid city
          </span>
        </mat-error>
      </mat-form-field>
      <br />
      <mat-label>性別</mat-label>
      <ng-container *ngFor="let item of sex">
        <mat-checkbox
          [value]="item.text"
          [checked]="profileForm.controls['sex'].value.includes(item.text)"
          color="primary"
          (change)="onCheckChange($event, item)"
          >{{ item.text }}
        </mat-checkbox>
      </ng-container>
      <mat-error>
        <span *ngIf="profileForm.hasError('sexMinLength')"> 至少選擇兩項 </span>
      </mat-error>
      <br />
      <mat-form-field appearance="fill" class="example-full-width">
        <mat-label>State:</mat-label>
        <input matInput formControlName="state" type="number" />
        <mat-error>
          <span *ngIf="errorHandlingNested('state', 'required')">
            Please provide a valid State
          </span>
        </mat-error>
      </mat-form-field>
      <br />
      <mat-form-field appearance="fill" class="example-full-width">
        <mat-label>Zip Code:</mat-label>
        <input matInput formControlName="zip" type="number" />
        <mat-error>
          <span *ngIf="errorHandlingNested('zip', 'required')">
            Please provide a valid zip
          </span>
        </mat-error>
      </mat-form-field>
    </div>

    <!-- 必須要在 form 裡面，才能觸發錯誤訊息 -->
    <button mat-raised-button color="primary" (click)="onSubmit()">
      Submit
    </button>
    <button mat-raised-button color="primary" (click)="onSearch()">查詢</button>
    <button mat-raised-button color="primary" (click)="onReset()">重置</button>
    <button mat-raised-button color="primary" (click)="onResetValidator()">
      重置驗證
    </button>
    <!-- <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="!profileForm.valid"
    >
      Submit
    </button> -->

    <mat-error>
      <span *ngIf="profileForm.errors?.roomOnlyWith18">
        You can not access this room being under 18
      </span>
    </mat-error>
  </form>
</div>
