<div class="container">
  <button mat-button (click)="openDialog()">Open dialog</button>
  <div *ngIf="movies" class="movie-list row">
    <div *ngFor="let movie of movies" class="col-sm-6 col-md-4 mb-4">
      <div class="movie-list-card">
        <a routerLink="/detail/{{ movie.id }}">
          <div
            class="movie-list-card-img"
            [ngStyle]="{
              'background-image':
                'url(https://image.tmdb.org/t/p/w500/' + movie.poster_path + ')'
            }"
            style="
              background-size: cover;
              background-position: center;
              background-repeat: repeat-x;
            "
          ></div>
          <div class="movie-list-card-content">
            <div class="title">
              {{ movie.title }}
            </div>
            <div class="date">{{ movie.release_date }}</div>
            <div class="popu">{{ movie.popularity }}</div>
            <div class="content">{{ movie.overview }}</div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
